[Unit]
Description=Hotkey Service
After=network.target hid.service

[Service]
Type=simple
User=hotkey
WorkingDirectory=/opt/hotkey
ExecStart=/usr/bin/openvt -s -v -e -f -w /usr/bin/python3 /opt/hotkey/hotkey.py
Restart=always

[Install]
WantedBy=multi-user.target
